/* .container { */
/* } */
.container-right-order-now-form {
  display: flex;
  flex-direction: column;
  width: ;
  height: 65vh;
  margin-top: 13vh;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.391);
}

/* For small devices */
@media (max-width: 768px) {
  .container-right-order-now-form {
    width: 80%;
  }
}
.container-right-order-now-form select,
.container-right-order-now-form textarea,
.container-right-order-now-form input {
  margin: 5px 0;
  border-radius: 5px;
  height: 35px;
  border: 1px solid gray;
  padding: 5px 10px;
  color: gray;
}
.container-right-order-now-form select:focus,
.container-right-order-now-form textarea:focus,
.container-right-order-now-form input:focus {
  outline: none;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
  gap: 3px 24px; /* row gap, column gap */
  padding: 0 10px;
  color: gray;
  border: 1px solid grey;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0 15px;
  background-color: white;
}

/* .checkbox-grid > :nth-child(1),
.checkbox-grid > :nth-child(2),
.checkbox-grid > :nth-child(3),
.checkbox-grid > :nth-child(4) {
  margin-bottom: -20px 0;
} */
.checkbox-grid label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease 0.2s;
  margin: -10px;
}
.checkbox-grid label:hover {
  color: black;
}

.checkbox-grid input[type="checkbox"] {
  margin-right: 8px;
}
.container-right-order-now-form input[type="submit"] {
  background-color: orange;
  cursor: pointer;
  color: black;
  transition: all ease 0.2;
}
.container-right-order-now-form input[type="submit"]:hover {
  border: none;
  opacity: 0.8;
}

.container-right-order-now-form textarea {
  height: 80px;
  line-height: 14px;
  resize: none;
}
.container-right-order-now-form p {
  text-align: center;
  margin: 5px 0 -10px;
  color: gray;
}

.container button a {
  text-decoration: none;
  color: white;
}
.container-right-order-now-form .address address {
  margin-bottom: -16px;
}
.container-right-order-now-form .address {
  text-align: center;
  margin-top: 2px;
  color: gray;
  font-style: italic;
  font-size: 12px;
}